# Core Framework & Turso Driver (Locked)
Django==6.0.5
django-libsql-backend==0.1.1
chime==0.7.0

# Forms & UI Packages (Locked to avoid conflict)
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# Support Packages (Unlocked to let Vercel find the perfect matches)
asgiref
dj-database-url
django-bootstrap5
gunicorn
packaging
python-dotenv
sqlparse
tzdata
whitenoise
