asgiref==3.7.2
chime==0.7.0
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
Django==4.2.11
django-bootstrap5==26.2
django-crispy-forms==2.6
django-libsql-backend==0.1.1
gunicorn==26.0.0
packaging==26.2
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
